body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4A90E2, #1E3A8A);
}

.container {
    max-width: 90%; /* Aumenta el ancho al 90% de la pantalla */
    width: 900px; /* Establece un ancho mínimo */
    background: rgba(255, 255, 255, 0.95);
    padding: 40px; /* Aumenta el espacio interno */
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    position: relative;
}

.factura {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px; /* Aumenta el tamaño del padding */
    text-align: left;
    font-size: 18px; /* Aumenta la fuente */
    transition: all 0.3s ease;
}

th {
    background: #1E3A8A;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dcdcdc;
    transform: scale(1.02);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}


#guardar {
    background: linear-gradient(90deg, #28a745, #218838);
    color: white;
}

#guardar:hover {
    background: linear-gradient(135deg, #34d058, #19692c);
    transform: scale(1.05);
}

#button-pdf {
    background: linear-gradient(90deg, #28a745, #218838);
    color: white;
}

#button-pdf:hover {
    background: linear-gradient(135deg, #34d058, #19692c);
    transform: scale(1.05);
}

#Regresar {
    position: absolute;
    top: 20px;
    left: 20px; /* Mueve el botón a la esquina superior izquierda */
    background: linear-gradient(90deg, #ff9800, #e65100);
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#Regresar:hover {
    background: linear-gradient(135deg, #ffa726, #bf360c);
    transform: scale(1.05);
}

#error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.formulario {
    margin-bottom: 20px;
}

.formulario input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}
