body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4A90E2, #1E3A8A);
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    outline: none;
}

input:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

button {
    width: 101%;
    padding: 10px;
    background: linear-gradient(90deg, #2E3192, #1BFFFF);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #3A7DC1, #152A6A);
    transform: scale(1.05);
}

#error-message {
    font-size: 14px;
    color: red;
    display: block;
    margin-top: 5px;
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-regresar{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
button{
    background: linear-gradient(90deg, #5a5a92, #1BFFFF);
}
