body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4A90E2, #1E3A8A);
    color: #333;
    text-align: center;
}

header {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1E3A8A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    padding: 40px;
}

section {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #333;
}

#nueva-cuenta {
   
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    color: #333;
}

th {
    background: #1E3A8A;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    padding: 10px;
    width: 90%;
    max-width: 300px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    color: #333;
}

button {
    padding: 12px 20px;
    background: linear-gradient(135deg, #4A90E2, #1E3A8A);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #3A7DC1, #152A6A);
    transform: scale(1.05);
}
