/* Importar fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilo general del cuerpo */
body {
    font-family: 'Poppins', sans-serif;
    background: url('imagenes/logo.jpeg') no-repeat center center fixed;
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Caja del formulario */
.login-box {
    background: rgba(255, 255, 255, 0.9); /* Transparencia */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Efecto al pasar el mouse */
.login-box:hover {
    transform: scale(1.05);
}

/* Título */
h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

/* Contenedor de los inputs */
.input-container {
    margin-bottom: 50px;
    text-align: left;
}

/* Estilo para las etiquetas */
label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

/* Efecto al enfocar input */
input:focus {
    border-color: #1BFFFF;
    box-shadow: 0 0 8px rgba(27, 255, 255, 0.5);
}

/* Botón de iniciar sesión */
.btn-login {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #2E3192, #1BFFFF);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s;
}

/* Efecto hover del botón */
.btn-login:hover {
    background: linear-gradient(90deg, #1BFFFF, #2E3192);
    transform: scale(1.05);
}

/* Enlace de registro */
.register-link {
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
    color: #333;
}

.register-link a {
    text-decoration: none;
    color: #2E3192;
    font-weight: bold;
    transition: color 0.3s;
}

/* Efecto hover */
.register-link a:hover {
    color: #1BFFFF;
    text-decoration: underline;
}
